<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for album in albums %}
        <div>
            <h1 class="album_title">Title: {{ album.title }}</h1>
            <p class="album_year">Release Date: {{ album.release_year }}</p>
        {% for artist in artists %}
            {% if artist.id == album.artist_id %}
                <a href="/albums/{{album.id}}" class="link_{{album.id}}">{{album.title}} by {{artist.name}}</a>
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
