<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>
<body>
    <a href="/artists/new">Add Artist</a>
    {% for artist in artists %}
        <div>
            <h1 class="artist_name">Name: {{artist.name}}</h1>
            <p class="artist_genre">Genre: {{artist.genre}}</p>
            <a href="/artists/{{artist.id}}">{{artist.name}}</a>
        </div>
    {% endfor %}
</body>
</html>